# Resume Classification using GPT-3
## Part 3: Embedding

### Team 12

Note: I should have done this before Train Test Split, so I don't have to do embedding on train and test seperately.

In [25]:
import pandas as pd
import numpy as np

In [26]:
data_train_path = '/content/train.csv'
data_test_path = '/content/test.csv'

In [28]:
df_train = pd.read_csv(data_train_path)
df_test = pd.read_csv(data_test_path)
df_test.head()

,Unnamed: 0,Resume,Category
0,415,technological knowledge computer window platf...,Business Analyst
1,232,key planning strategizing presentation clien...,Sales
2,168,education january bsc information technology ...,Web Designing
3,847,technical language c asp net mvc html css ja...,DotNet Developer
4,573,training attended successfully completed esd p...,Python Developer

## Visualization of the number of resumes of each job

In [32]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openai in /usr/local/lib/python3.8/dist-packages (0.25.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.8/dist-packages (from openai) (3.0.10)
Requirement already satisfied: pandas-stubs>=1.1.0.11 in /usr/local/lib/python3.8/dist-packages (from openai) (1.5.2.221124)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from openai) (1.21.6)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.23.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from openai) (4.1.1)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.8/dist-packages (from openai) (1.3.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2022.6)
Requirement already satisfied: types-pytz>=2022.1.1 in /usr/local/lib/python3.8/dist-packages (from pandas-stubs>=1.1.0.11->openai) (2022.6.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (3.0.4)

In [38]:
import openai

In [36]:
openai.api_key = "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"

In [37]:
from openai.embeddings_utils import get_embedding


df_train['babbage_similarity'] = df_train.Resume.apply(lambda x: get_embedding(x, engine='text-similarity-babbage-001'))
df_train['babbage_search'] = df_train.Resume.apply(lambda x: get_embedding(x, engine='text-search-babbage-doc-001'))

df_test['babbage_similarity'] = df_test.Resume.apply(lambda x: get_embedding(x, engine='text-similarity-babbage-001'))
df_test['babbage_search'] = df_test.Resume.apply(lambda x: get_embedding(x, engine='text-search-babbage-doc-001'))

## Saving to csv

In [43]:
data_train_path = '/content/train_with_embedding.csv'
data_test_path = '/content/test_with_embedding.csv'

In [44]:
df_train.to_csv(data_train_path)
df_test.to_csv(data_test_path)

## End of Embedding