# Resume Classification using GPT-3
## Part 4: Classification

### Team 12

Note: I should have done this before Train Test Split, so I don't have to do embedding on train and test seperately.

In [45]:
import pandas as pd
import numpy as np

In [73]:
data_train_path = '/content/train_with_embedding.csv'
data_test_path = '/content/test_with_embedding.csv'

In [74]:
df_train = pd.read_csv(data_train_path)
df_test = pd.read_csv(data_test_path)
df_test.head()

,Unnamed: 0,Unnamed: 0.1,Resume,Category,babbage_similarity,babbage_search
0,0,415,technological knowledge computer window platf...,Business Analyst,"[-0.01990710012614727, 0.03042299672961235, -0...","[-0.019306281581521034, 0.03236852213740349, -..."
1,1,232,key planning strategizing presentation clien...,Sales,"[-0.019060127437114716, 0.013386830687522888, ...","[-0.018834393471479416, 0.011297233402729034, ..."
2,2,168,education january bsc information technology ...,Web Designing,"[-0.014570625498890877, 0.02241634763777256, -...","[-0.010920250788331032, 0.030757201835513115, ..."
3,3,847,technical language c asp net mvc html css ja...,DotNet Developer,"[-0.01128013338893652, 0.025211049243807793, -...","[-0.01435014232993126, 0.02692575566470623, -0..."
4,4,573,training attended successfully completed esd p...,Python Developer,"[-0.0031698718667030334, 0.035837892442941666,...","[0.0009723436669446528, 0.03775550425052643, -..."

In [48]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openai in /usr/local/lib/python3.8/dist-packages (0.25.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from openai) (4.1.1)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.8/dist-packages (from openai) (3.0.10)
Requirement already satisfied: pandas-stubs>=1.1.0.11 in /usr/local/lib/python3.8/dist-packages (from openai) (1.5.2.221124)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.8/dist-packages (from openai) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from openai) (1.21.6)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.23.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2022.6)
Requirement already satisfied: types-pytz>=2022.1.1 in /usr/local/lib/python3.8/dist-packages (from pandas-stubs>=1.1.0.11->openai) (2022.6.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)

In [54]:
import openai
from sklearn.metrics import classification_report
from openai.embeddings_utils import cosine_similarity, get_embedding
from sklearn.metrics import PrecisionRecallDisplay

In [52]:
openai.api_key = "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"

In [75]:
df_train['babbage_similarity'] = df_train.babbage_similarity.apply(eval).apply(np.array)
df_train['babbage_search'] = df_train.babbage_search.apply(eval).apply(np.array)

df_test['babbage_similarity'] = df_test.babbage_similarity.apply(eval).apply(np.array)
df_test['babbage_search'] = df_test.babbage_search.apply(eval).apply(np.array)

In [78]:
#categories = list(df.Category.unique())
#categories

In [76]:
X_train = list(df_train.babbage_similarity.values)
X_test = list(df_test.babbage_similarity.values)
y_train = df_train.Category
y_test = df_test.Category

## Random Forest Classifier

In [79]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [77]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
preds = clf.predict(X_test)
probas = clf.predict_proba(X_test)

report = classification_report(y_test, preds)
print(report)

                           precision    recall  f1-score   support

                 Advocate       1.00      1.00      1.00         6
                     Arts       1.00      1.00      1.00        11
       Automation Testing       0.86      0.75      0.80         8
               Blockchain       1.00      1.00      1.00        12
         Business Analyst       1.00      0.75      0.86         8
           Civil Engineer       1.00      1.00      1.00         7
             Data Science       1.00      1.00      1.00        12
                 Database       1.00      1.00      1.00        10
          DevOps Engineer       1.00      0.94      0.97        17
         DotNet Developer       1.00      1.00      1.00         8
            ETL Developer       1.00      1.00      1.00        12
   Electrical Engineering       0.82      1.00      0.90         9
                       HR       1.00      1.00      1.00        13
                   Hadoop       1.00      1.00      1.00        13
       Health and fitness       1.00      1.00      1.00         9
           Java Developer       0.93      1.00      0.96        25
      Mechanical Engineer       1.00      1.00      1.00        12
Network Security Engineer       1.00      1.00      1.00         8
       Operations Manager       1.00      1.00      1.00        12
                      PMO       1.00      1.00      1.00         9
         Python Developer       1.00      1.00      1.00        14
            SAP Developer       1.00      1.00      1.00         7
                    Sales       1.00      1.00      1.00        12
                  Testing       1.00      1.00      1.00        21
            Web Designing       1.00      1.00      1.00        14

                 accuracy                           0.98       289
                macro avg       0.98      0.98      0.98       289
             weighted avg       0.98      0.98      0.98       289

## End of Classification